{{!-- Facebook - Comentarios --}}

<section class="disqus">

    <!--<div class="row">
        <div class="small-12 columns">
            <h4 class="comments-header">Comparte tu opinión</h4>
            <div id="disqus_thread"></div>
            <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
            <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
        </div>
    </div>-->
    <h4 class="comments-header">Comparte tu opinión</h4>
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v2.7";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
    <div class="fb-comments" data-mobile="" data-width="100%" data-href="https://www.facebook.com/stefanyzapata92/" data-numposts="5"></div>
</section>