<strong class="message">
    Por ahora estoy en reparaciones, por favor intenta entrar más tarde.
</strong>

<img src="https://media.giphy.com/media/Ph8OWoJA2M3eM/giphy.gif" alt="fix">

<span>
    Disfruta mientras esperas:
</span>
<button class="btn-default">
    <a href="http://j.mp/1orUIOq">¡Party Hard!</a>
</button>