/*------------------------------------*\
    $Variables
\*------------------------------------*/

// Variables que se usan en los estilos

// Fuentes

// Fuente por default
$FontDefault = 'Noto Sans', sans-serif

// Fuente para los títulos
$FontTitles = 'Lato', sans-serif

// Fuente para contenido de texto
$FontContent = 'David Libre', serif

// Colores

//Oscuros
$ColorDark = #4E4C61
$colorPrueba = #586078
$ColorDark-2 = #242F38
$ColorDark-3 = #85729C

//Azul
$ColorBlue = #4299D4

//Morado Purpura
$ColorPurpe = #804cc4

//Suscripcion
$ColorGreen = #15CC7E

//Rosa
$ColorPink = #D920F0
$ColorPink-2 = #9D42AD

//Grises
$ColorBody = #EFEFEF
$ColorGray = #E6EBEE
$ColorGray-1 = #E1E1E1
$ColorGray-2 = #70757F